/*
 * Misc: print
 * -----------
 */
@media print {
  a:link:after,
  a:visited:after {
    content: "" !important;
  }
  .no-print,
  .main-sidebar,
  .main-header {
    display: none!important;
  }
  .content-wrapper,
  .main-footer {
    margin-left: 0!important;
    min-height: 0!important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  .fixed .content-wrapper {
    padding-top: 0!important;
  }
  .content-header #heading {
    font-size: 24px;
  }
  .main-footer {
    margin-top: 20px;
  }
  .table-responsive {
    overflow: auto;
  }
  .table-responsive > .table tr th,
  .table-responsive > .table tr td {
    white-space: normal!important;
  }
}
