# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
Source: metacarta-java-environment
Section: unknown
Priority: optional
Maintainer: MetaCarta <support@metacarta.com>
Build-Depends: debhelper (>= 5.0.0),
Standards-Version: 3.5.2

Package: metacarta-java-environment
Architecture: all
Depends: tomcat5.5 (>=4.1)
Description: MetaCarta Java package management environment for Tomcat5.5
 MetaCarta Java package management environment for Tomcat5.5

Package: metacarta-java-apache-axis
Architecture: all
Depends: libaxis-java,
 metacarta-java-apache-commons,
 metacarta-java-environment
Description: MetaCarta Java apache axis hookup
 MetaCarta Java apache axis hookup

Package: metacarta-java-castor
Architecture: all
Depends: libcastor-java,
 metacarta-java-environment
Description: MetaCarta Java Castor hookup
 MetaCarta Java Castor hookup

Package: metacarta-java-activation
Architecture: all
Depends: libgnujaf-java,
 metacarta-java-environment
Description: MetaCarta Java Activation hookup
 MetaCarta Java Activation hookup

Package: metacarta-java-xerces2
Architecture: all
Depends: libxerces2-java,
 metacarta-java-environment
Description: Metacarta Java Xerces2 hookup
 MetaCarta Java Xerces2 hookup

Package: metacarta-java-xalan2
Architecture: all
Depends: libxalan2-java,
 metacarta-java-environment
Description: Metacarta Java Xalan2 hookup
 MetaCarta Java Xalan2 hookup

Package: metacarta-java-apache-log4j
Architecture: all
Depends: liblog4j1.2-java,
 metacarta-java-environment
Description: MetaCarta Java apache log4j hookup
 MetaCarta Java apache log4j hookup

Package: metacarta-java-apache-poi
Architecture: all
Depends: libjakarta-poi-java,
 metacarta-java-environment
Description: MetaCarta Java apache poi hookup
 MetaCarta Java apache poi hookup

Package: metacarta-java-apache-commons
Architecture: all
Depends: libcommons-codec-java (>=1.3),
 libcommons-collections-java (>=2.1.1),
 libcommons-fileupload-java (>=1.0),
 libcommons-io-java,
 libcommons-httpclient-java (>=3.0),
 libcommons-logging-java (>=1.0.4),
 metacarta-java-environment,
 metacarta-java-gnu-crypto
Description: MetaCarta Java apache commons package
 MetaCarta Java apache commons package

Package: metacarta-java-gnu-crypto
Architecture: all
Depends: libgnucrypto-java,
 metacarta-java-environment
Description: MetaCarta Java gnu crypto hookup
 MetaCarta Java gnu crypto hookup
