// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements. See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License. You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

grant codeBase "file:/usr/share/tomcat5.5/webapps/authorityservice/-"
{
	permission java.io.FilePermission "/usr/share/java/-", "read";
	// This one is here because apparently that's where the DFC first
	// looks on error situations.
	permission java.io.FilePermission "/usr/share/tomcat5.5/documentum.ini", "read";
	permission java.io.FilePermission "/var/log/documentum/-", "read,write,delete";
	permission java.io.FilePermission "/var/run/documentum/-", "read,write,delete";
	permission java.io.FilePermission "/var/lib/documentum/-", "read,write,delete";
	permission java.util.PropertyPermission "log4j.defaultInitOverride", "read";
	permission java.util.PropertyPermission "log4j.debug", "read";
	permission java.util.PropertyPermission "log4j.configDebug", "read";
	permission java.util.PropertyPermission "log4j.configuration", "read";
	permission java.util.PropertyPermission "log4j.configuratorClass", "read";
	permission java.util.PropertyPermission "log4j.ignoreTCL", "read";
        permission java.io.FilePermission "/etc/documentum/-", "read";
        permission java.io.FilePermission "/usr/share/documentum", "read";
	permission java.io.FilePermission "/usr/share/documentum/-", "read";
        permission java.lang.RuntimePermission "shutdownHooks";
	permission java.lang.RuntimePermission "createClassLoader";
	permission java.lang.RuntimePermission "getProtectionDomain";
};

grant codeBase "file:/usr/share/tomcat5.5/webapps/crawler/-"
{
	permission java.io.FilePermission "/usr/share/java/-", "read";
        permission java.io.FilePermission "/var/log/documentum/-", "read,write,delete";
	permission java.io.FilePermission "/var/run/documentum/-", "read,write,delete";
	permission java.io.FilePermission "/var/lib/documentum/-", "read,write,delete";
        permission java.util.PropertyPermission "log4j.defaultInitOverride", "read";
	permission java.util.PropertyPermission "log4j.debug", "read";
	permission java.util.PropertyPermission "log4j.configDebug", "read";
	permission java.util.PropertyPermission "log4j.configuration", "read";
	permission java.util.PropertyPermission "log4j.configuratorClass", "read";
	permission java.util.PropertyPermission "log4j.ignoreTCL", "read";
        permission java.io.FilePermission "/etc/documentum/-", "read";
        permission java.io.FilePermission "/usr/share/documentum", "read";
        permission java.io.FilePermission "/usr/share/documentum/-", "read";
        permission java.lang.RuntimePermission "shutdownHooks";
        permission java.lang.RuntimePermission "createClassLoader";
        permission java.lang.RuntimePermission "getProtectionDomain";
};
