/.settings/
/.project
/documentfilter/
*/build/
*/dist/
test-HSQLDB-output/

dbname.properties
dbname.script

#ignore all files from test-materials
/*/test-materials/*
#unignore README.txt from test-materials
!/*/test-materials/README.txt

#ignore all files from test-materials-proprietary
/*/test-materials-proprietary/*
#unignore README.txt from test-materials-proprietary
!/*/test-materials-proprietary/README.txt

#ignore all files from lib-proprietary
/*/lib-proprietary/*
#unignore README.txt from lib-proprietary
!/*/lib-proprietary/README.txt
